@(languages: List[Language], langs: Seq[Lang], lang: Lang, language: Option[Language], words: List[String], searchForm: Form[SearchField])(implicit flash: play.api.mvc.Flash)

@import helper._

@main(lang) {
    
 	<div class="languageSelection">
    	@form(routes.Words.setLang) {
		@Messages("AvailableLanguages")(lang)
	    <select name="lang">
		 @langs.map { lang => 
      		<option value="@lang.language">@Messages(lang.language)(lang)</option>
    	}
	    </select>
	    <input type="submit" value="@Messages("Submit")(lang)">
	}
    </div>

    <h2 class="result">@flash.get("message").getOrElse("")</h2>
    
    @if(language.isEmpty) {
     <p>@Messages("SelectLanguageCode")(lang)</p>
    } else {
     <p>@Messages("Language")(lang): @language.get.name (@language.get.code)</p>
     <table>
        <tr>
        <th>@Messages("Word")(lang)</th>
        </tr>
        @words.map { t =>
        <tr>
         <td>@t</td>
      	<tr>
      	}
      </tr>
     </table>
    }
    @form(routes.Words.searchWords) {
      <select name="language">
       @languages.map { c =>
         <option value="@c.code">@c.code</option>
       }
      </select>
      <input type="submit" value="@Messages("Search")(lang) ">
        
    }
    
}